
.hero{
    h1{
      font-size: 1.9rem;
      padding-top: 3em;
    }
    h2{
      font-size: 1.3rem;
      padding: 20px;
    }
  }
.cta{
    background-color: $pink;
    border: 2px solid $white;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 100px;
   margin: 20px 30px;
   color: #fff;
   font-family: $body-copy;
   text-decoration: none;
   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08);
  }
  
   .cta:hover, .cta:focus{
    color: $bluebelle;
    background-color: #fff;
  }


  /* included skills/contact here since such a small section*/

  .skills-list, .social-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style-type: none;
      li{
          padding: 20px;
          i{
              font-size: 3rem;
              color: $white;
             
          }
      }
  }

  li i:hover{
      color: #5f27cd;
  }


  /*contact*/
  .social-list{
    li > a{
      color: #fff;
    }
  }
