header{
    min-height: 20vh;
    background-color: $white;
    color: $gray;
}
.sticky{
    position: sticky;
    top:0;
    z-index: 999;
    width: 100%;
}
.logo{
    font-family: $heading;
    text-align: center;
    font-size: 1.9rem;
    padding-top: 20px;
    a{
        text-decoration: none;
    }
    a:hover,a:focus{
        color: $pink;
    }

}
    nav{
      
        .nav-list{
            font-family: $body-copy;
            font-size: 1.2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            right: 20px;
            top: 20px;
            padding-bottom: 2rem;
           
            li{
                list-style-type: none;
            }
            li a{
                padding-left: 3rem;
                text-decoration: none;
                color: $gray;
            }
        }

        li a:hover, li a:focus{
            color: #5f27cd;
            font-weight: 700;
        }
    }
        .sticky::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 10px;
            background-image: linear-gradient(
              to right,
              #d16ba5,
              #c777b9,
              #ba83ca,
              #aa8fd8,
              #9a9ae1,
              #8aa7ec,
              #79b3f4,
              #69bff8,
              #52cffe,
              #41dfff,
              #46eefa,
              #5ffbf1
            );
        }
    




   



