/* Imports */

@import 'sass/variables';
@import 'sass/nav';
@import 'about';
@import 'footer';
@import 'sass/image';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Styling of page sections*/
.section{
  color: $white;
  background-color: $darkblue;
}
.section:nth-of-type(odd){
  .accent{
    color: $white;
  }
}
.section:nth-of-type(even){
  .accent{
    color: $pink;
  }
}
.section{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}



/*  general text styling  */
.heading{
  font-family: $heading;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 30px;
}
 h2::after{
   content: '';
   display: block;
   height: 4px;
   width: 100%;
   margin-top: 5%;
   background-image: linear-gradient(
              to right,
              #d16ba5,
              #c777b9,
              #ba83ca,
              #aa8fd8,
              #9a9ae1,
              #8aa7ec,
              #79b3f4,
              #69bff8,
              #52cffe,
              #41dfff,
              #46eefa,
              #5ffbf1
            );
 }

.copy{
  font-family: $body-copy;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}
.text-box{
  width: 80vw;
  padding-bottom: 55px;
}

.hero-accent{
  color: $teal;
}

.page-container{
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
}




